
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
width: 100%;
height: 100vh;
display: flex;
  justify-content: center;
  background-color: #aad3df;
}
.CountryMAin{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center;  */
}
.CountryMAinMap{
  flex: 2;
}
.CountryMAinResult{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:center ;
}
.LeafletInputField{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items:center ;
}
.LeafletInput{
  border: 1px solid #05b6d4;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  border-radius: 5px;
  margin: 2px;
}
.LeafletInput>input{
  width: 100%;
  height: 25px;
  padding: 5px 10px;
  border-radius: 5px 0px 0px 5px;
 border: none;
}
.AiOutlineSearch{
  background-color: #05b6d4;
  color:#fff !important;
  width: 25px;
  height: 25px;

}
.DisplayCountryMain{
width: 60%;
display: flex;
justify-content:space-around;
align-items: center;
flex-direction: column;
}
.NameValueMAin{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.NameValueMAinh4{
  flex: 1;
  color: rgb(37, 37, 37);
}
.NameValueMAinp{
  flex: 2;
  color: rgb(37, 37, 37);
font-size: 12px;
font-weight: 600;
display: flex;
flex-direction: row;
gap: 5px;
flex-wrap: wrap;
}
.NameValueMainLanguage{
  padding: 5px 10px;
  color: #fff;
  background-color: #65a30d;
  border-radius: 3px;
}
